.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  max-width: 1000px;
  width: 100%;
  li {
    margin: 0 20px;
  }
}

.item {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.previous {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  position: absolute;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 50%;
  color: #808e9b;
}

.break-me {
  color: #808e9b;
}

.disabled-page {
  color: #808e9b;
}

.pagination-page {
  font-weight: 700;
}
