.filters {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.photoAlbum {
  width: 100%;
  height: auto;
  padding: 40px 0px;
}

.photo {
  position: relative;
}
